.heading-section {
  padding: 10px;
  background: white;
  p {
    margin-left: 10px;
    font-size: 15px;
    color: grey;
    span {
      float: right;
      font-size: 13px;
      color: grey;
    }
  }
}
